<h1 class="mb-4">Login</h1>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="username" name="username">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password" name="password">
  </div>
  <button (click)="postLogin()" type="button" class="btn btn-primary">Submit</button>
</form>
<button (click)="postLogout()" type="button" class="btn btn-primary">Log out</button>